{% extends 'shop/base.html' %}
{% load static %}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css"
        href="{% static "shop/css/cart.css"%}" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        {% for product in products_in_cart %}
          <li class="list-group-item d-flex justify-content-between ">
            <div class="col-1">
              <img src="{{product.image.url}}" height="50px">
            </div>
            <div class="col-7">
              <h6 class="my-0">{{ product.name }}</h6>
              <small class="text-muted">{{ product.properties_string }}</small>
            </div>
            <div class="col-2 d-flex justify-content-between">
              <p><a href="{% url 'increase_item_count_in_order' product_id=product.id %}">+</a></p>
              <p>{{ product.amount_ordered }}</p>
              <p><a href="{% url 'decrease_item_count_in_order' product_id=product.id %}">-</a></p>
            </div>
            <div class="col-2">
              <span class="text-muted">{{ product.price }} uah</span>
            </div>

          </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
          <span>Total:</span>
          <strong>{{ order_total }} uah</strong>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-4 order-md-1">
      <h4 class="mb-3">Order details</h4>
      
      <form action="" method="post" {% if order_form.errors %} class="is-invalid" {% endif %}>
        {% csrf_token %}

        <div class="mb-3">
          <label for="firstName">First name</label>
          {{ order_form.name }}
          <div class="invalid-feedback">
            {% for error in order_form.name.errors %}
              <p>{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>

        <div class="mb-3">
          <label for="lastName">Last name</label>
          {{ order_form.surname }}
          <div class="invalid-feedback">
            {% for error in order_form.surname.errors %}
              <p>{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          {{ order_form.email }}
          <div class="invalid-feedback">
            {% for error in order_form.email.errors %}
              <p>{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Phone number</label>
          {{ order_form.phone_number }}
          <div class="invalid-feedback">
            {% for error in order_form.phone_number.errors %}
              <p>{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          {{ order_form.shipping_address }}
          <div class="invalid-feedback">
            {% for error in order_form.shipping_address.errors %}
              <p>{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>

        <button class="btn btn-dark btn-lg btn-block" type="submit">Submit</button>

      </form>
    </div>
  </div>
{% endblock %}