{% extends 'shop/base.html' %}

{% block content %}
	{% if errors %}
	<h1>{{ errors }}</h1>
	{% endif %}
	<table>
 	{% for product in products_in_cart %}
 	<tr>
 		<td><img src="{{product.image.url}}" height="50px"></td>
 		<td><a href="{% url 'product' id=product.id %}"> {{ product.name }} </a></td>
 		<td><p>{{ product.properties_string }}</p></td>
 		<td><p>{{ product.price }} uah</p></td>
 		<td><p><a href="{% url 'increase_item_count_in_order' product_id=product.id %}">+</a></p></td>
 		<td><p>{{ product.amount_ordered }}</p></td>
 		<td><p><a href="{% url 'decrease_item_count_in_order' product_id=product.id %}">-</a></p></td>
 		<td><a href="{% url 'remove_from_cart' product_id=product.id %}">X</a></td>
   	</tr>
  	{% endfor %}
  	</table>
  	<br>
  	<p>Order Total: {{ order_total }} uah</p>
  	<br>
  	<p><a href="{% url 'product_list' %}">Continue shopping</a></p>
  	<br>
  	<form action="" method="post">
  		{% csrf_token %}
  		<table>
  			{{ order_form.as_table }}
  		</table>
  		<input type="submit" name="Submit">
  	</form>
{% endblock %}